RESOURCE_URI=https://mcplocal
AUTH_SERVER_URL=https://dev-5dt0utuk315713tjm.us.auth0.com
TOKEN_AUDIENCE=https://mcplocal
TOKEN_ISSUER=https://dev-5dt0utuk315713tjm.us.auth0.com
DUFFEL_API_KEY=your-duffel-api-key
PORT=8000
NODE_ENV=development
